##  <font color =blue> Students Placement Classification

### <font color =blue> Problem Statement
Here, we have to predict a particular student will be placed or not using CGPA, IQ, and profile score.Define Problem Statement

Define Problem Statement >> Build ML model >> Flask API

### <font color =blue> Import required libraries

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report,roc_auc_score

### <font color =blue> Data Gathering

In [3]:
df = pd.read_csv("students_placement.csv")
df.sample(5)

     cgpa   iq  profile_score  placed
223  5.62  106             78       0
27   6.66  106             61       0
38   6.79   92             73       1
220  7.23   89             58       1
290  5.84  112             32       0

### <font color =blue> Understanding the dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cgpa           300 non-null    float64
 1   iq             300 non-null    int64
 2   profile_score  300 non-null    int64
 3   placed         300 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 9.5 KB

In [5]:
df.describe()

             cgpa          iq  profile_score      placed
count  300.000000  300.000000     300.000000  300.000000
mean     6.812000  102.570000      60.043333    0.506667
std      0.971568    8.326034      14.282440    0.500791
min      4.600000   83.000000      23.000000    0.000000
25%      6.010000   96.000000      51.000000    0.000000
50%      6.840000  103.500000      60.000000    1.000000
75%      7.502500  109.000000      69.000000    1.000000
max      9.300000  121.000000     100.000000    1.000000

### <font color =blue> Splitting dataset into depended and independent variables

In [9]:
x = df.drop('placed', axis=1)
y = df['placed']
x,y

(     cgpa   iq  profile_score
 0    5.97  106             61
 1    6.83  113             77
 2    6.60  110             61
 3    5.54  113             68
 4    6.84  102             67
 ..    ...  ...            ...
 295  6.44  107             54
 296  6.09  108             52
 297  7.68  101             70
 298  7.00   90             28
 299  4.79  118             70

 [300 rows x 3 columns],
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 295    0
 296    0
 297    1
 298    1
 299    0
 Name: placed, Length: 300, dtype: int64)

### <font color =blue> Train Test and Split into Training and Testing Dataset

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=10)

### <font color =blue> Creating instance of logistic regression and training on dataset

In [13]:
lr = LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression()

### <font color =blue> Prediction on test dataset

In [14]:
y_pred = lr.predict(x_test)

### <font color =blue> Evaluation Metrices

In [15]:
# Accuracy Score
acc_score = accuracy_score(y_test,y_pred)
acc_score

0.8333333333333334

In [16]:
# Confusion Matri
cnfm = confusion_matrix(y_test,y_pred)
cnfm

array([[27,  5],
       [ 5, 23]], dtype=int64)

In [18]:
# Classification report
clrp = classification_report(y_test,y_pred)
print(clrp)

              precision    recall  f1-score   support

           0       0.84      0.84      0.84        32
           1       0.82      0.82      0.82        28

    accuracy                           0.83        60
   macro avg       0.83      0.83      0.83        60
weighted avg       0.83      0.83      0.83        60

### <font color =blue> Pickling the model

In [19]:
import pickle

In [20]:
pickle.dump(lr,open('model.pkl','wb'))